In [1]:
import json
import urllib
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas.io.json import json_normalize

In [12]:
url = 'http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/3081?res=daily&key=cf64269e-4a94-489f-bad3-7dbffe86e969'

response = urllib.urlopen(url)

data = json.loads(response.read())

data = json_normalize(data['SiteRep']['DV']['Location'])#['Period']['Rep'])
data = DataFrame(data['Period'][0])
data = data[['Rep', 'value']]
data

                                                 Rep        value
0  [{u'Dm': u'1', u'D': u'W', u'PPd': u'4', u'FDm...  2016-12-05Z
1  [{u'Dm': u'4', u'D': u'WSW', u'PPd': u'14', u'...  2016-12-06Z
2  [{u'Dm': u'11', u'D': u'SW', u'PPd': u'47', u'...  2016-12-07Z
3  [{u'Dm': u'8', u'D': u'WSW', u'PPd': u'8', u'F...  2016-12-08Z
4  [{u'Dm': u'9', u'D': u'SSW', u'PPd': u'44', u'...  2016-12-09Z

In [15]:
forecast = pd.DataFrame()
forecast ['Data'] = data['value'].map(lambda x: str(x)[:-1])
forecast['Weather'] = None

for i in range(5):
    forecast['Weather'][i] = data['Rep'][i][0]['W']

In [16]:
forecast

         Data Weather
0  2016-12-05       3
1  2016-12-06       7
2  2016-12-07       7
3  2016-12-08       7
4  2016-12-09      12